<div class="loading" *ngIf="loadingResults > 0">
    <i class="fa-solid fa-spinner fa-spin"></i>
    <h1>Načítám výsledky</h1>
</div>
<div class="loading error" *ngIf="errorLoadingResults > 0">
    <i class="fa-solid fa-triangle-exclamation"></i>
    <h1>Chyba při načítání výsledků</h1>
</div>
<div class="flex flex-wrap items-center justify-between" style="align-items: stretch;">
    <div class="w-full flex-1 mx-auto p-2">
        <app-card-simple-results-table-monitors [categoryName]="'Muži'" [results]="simpleResultsResponse.muzi">
        </app-card-simple-results-table-monitors>
    </div>
    <div class="w-full flex-1 mx-auto p-2">
        <app-card-simple-results-table-monitors [categoryName]="'Ženy'" [results]="simpleResultsResponse.zeny">
        </app-card-simple-results-table-monitors>
    </div>
    <div class="w-full flex-1 mx-auto p-2">
        <app-card-simple-results-table-monitors [categoryName]="'Dorostenci'" [results]="simpleResultsResponse.dorostenci">
        </app-card-simple-results-table-monitors>
    </div>
    <div class="w-full flex-1 mx-auto p-2">
        <app-card-simple-results-table-monitors [categoryName]="'Veteráni'" [results]="simpleResultsResponse.veterani">
        </app-card-simple-results-table-monitors>
    </div>
</div>
<div class="sponsors">
    <img src="assets/img/sponsors/bas.png" alt="BAS Rudice" class="p-6 bas" />
    <img src="assets/img/sponsors/sawtronics.svg" alt="SAWTRONICS" class="sawtronics" />
    <p class="lukasmatuska">
        Powered&nbsp;by<br>
        <span style="font-size: 1.5rem;">
            <span>www.</span>lukasmatuska.cz
        </span>
    </p>
</div>
