<div class="flex flex-wrap items-center justify-between" style="align-items: stretch;">
    <div class="w-full flex-1 mx-auto p-2" *ngFor="let raceCategory of race.categories">
        <app-card-result-table-monitors [raceCategory]="raceCategory" [raceId]="race.id">
        </app-card-result-table-monitors>
    </div>
</div>
<div class="sponsors">
    <p class="text-center text-2xl">Sponzoři</p>
    <div class="flex flex-wrap items-center justify-center">
        <img src="assets/img/sponsors/bas.png" alt="BAS Rudice" class="p-6" />
        <img src="assets/img/sponsors/sawtronics.svg" alt="SAWTRONICS" class="px-6 flex-1" />
        <img src="assets/img/sponsors/list.png" alt="Sponzoři VCB" />
    </div>
</div>