.sponsors {
    position: absolute;
    padding-left: 0.5vw;
    bottom: 0px;
    padding-bottom: 0.5vh; /*max-height: 13vh;*/
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.55);
}

.sponsors img {
    max-height: 10vh;
}

.sponsors img.sawtronics {
    min-height: 8.5vh;
    height: 100%;
    flex-grow: 1;
    margin: auto;
}