div.loading {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 90vh;
    width: 100vw;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.55);
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

div.loading i {
    font-size: 7.5rem;
    margin: auto auto 0 auto;
}

div.loading h1 {
    font-size: 3.5rem;
    margin: 0 auto auto auto;
}

div.loading.error {
    background-color: rgba(255, 0, 0, 0.45);
    color: black;
}

.sponsors {
    z-index: 50;
    position: fixed;
    padding-left: 0.5vw;
    bottom: 0px;
    padding-bottom: 0.5vh;
    max-height: 13vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.55);
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 100%;
    grid-template-areas:
        "bas sawtronics lukasmatuska";
}

.sponsors img {
    max-height: 10vh;
}

.sponsors img.bas {
    grid-area: bas;
    margin: auto;
}

.sponsors img.sawtronics {
    grid-area: sawtronics;
    height: 100%;
    width: 100%;
    margin: auto;
}

.sponsors .lukasmatuska {
    grid-area: lukasmatuska;
    text-align: center;
    font-size: 1.15rem;
    margin: auto;
}

@media screen and (max-width: 1000px) {
    .sponsors .lukasmatuska span span {
        display: none;
    }
}

@media screen and (max-width: 850px) {
    .sponsors {
        max-height: initial;
        grid-template-rows: 100%;
        grid-template-columns: 40% 50% 10%;
        grid-template-areas:
            "bas sawtronics .";
    }

    .sponsors .lukasmatuska {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .sponsors {
        grid-template-rows: 100%;
        grid-template-columns: 100%;
        grid-template-areas:
            "sawtronics";
    }

    .sponsors .bas {
        display: none;
    }
}

.timer {
    position: absolute;
    left: 10px;
    bottom: 5px;
}
